[Unit]
Description=Blackbox_exporter container
After=docker.service
 
[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker rm -f blackbox_exporter
ExecStart=/usr/bin/docker run -i --rm --name=blackbox_exporter \
        --network prometheus \
        --cap-add NET_RAW \
        -p 9115:9115 \
        -v /etc/blackbox_exporter/:/etc/blackbox_exporter/ \
        lw945/blackbox_exporter
ExecReload=/bin/kill -s HUP $MAINPID
 
[Install]
WantedBy=multi-user.target

